@{
    ViewBag.Title = "Homiest Page";
}

<div class="jumbotron">
    <h1>Album Database!</h1>
    <p class="lead">This is a datbase of albums! Hooray~</p>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
            
        </p>
        <p></p>
    </div>
    <div class="col-md-4">
        
        <center><h4>This is the single best database of albums ever created by humankind.</></h4></center>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p></p>
    </div>
</div>