@model IEnumerable<ArtistTable>
@{
    ViewBag.Title = "THE STUFF PAGE";
    
    //List<string> artistFirstList = new List<string>();
}
<h2>@ViewBag.Title</h2>


<H3>Here's some stuff:</H3><br />


<p>a list of all of the artists</p>
@foreach(var artist in Model)
{
    <p>@artist.ArtistName</p>
}